@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --speed: 0.25s;
    --primary-color: #f2f2fc;;
    --secondary-color: #000; 
}

body.dark {
    --primary-color: #000;
    --secondary-color: #ffffff;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-color);
    flex-direction: column;
}

header {
    width: 100%;
    color: var(--secondary-color);
    font-size: 20px;
    position: fixed;
    right: 0;
    z-index: 50;
    background: var(--primary-color);
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    padding: 15px;
    flex-wrap: wrap;
}

ul li {
    background: -webkit-linear-gradient(45deg, var(--gradient-top-1) 5%, var(--gradient-top-2) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.nome {
    padding: 15px;
    display: none;
    font-size: 1.25em;
    background: -webkit-linear-gradient(45deg, var(--gradient-top-1) 30%, var(--gradient-top-2) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rainbowBorder {
    height: 1px;
    transform: rotate(180deg);
    width: 100%;
}

@media (min-width: 501px) {
    .rounded_desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7.5px;
    }
}

@media (max-width: 800px) {
    header ul li {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    header ul li {
        font-size: 12.5px;
    }
}

@media (max-width: 500px) {
    header {
        font-size: 15px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: none;
    }

    header nav .nome {
        display: inline-block;
    }

    header nav .menu {
        display: inline-block;
    }

    header nav .mobile {
        display: block;
    }

    .name_picture .rounded_mobile {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
}

@media (max-width: 350px) {
    header {
        font-size: 12.5px;
    }
}

@media (max-width: 300px) {
    header {
        font-size: 10px;
    }
}

.menu {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.25s;
    display: none;
}

.menu_line {
    background: var(--gradient-1);
    position: absolute;
    top: 50%;
    width: 50%;
    height: 5px;
    border-radius: 0.25em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.on .menu_line {
    background: var(--gradient-2);
}

.menu_line-q {
    transition: transform calc(var(--speed) * 2);
}

.on .menu_line-q {
    transition: transform calc(var(--speed) * 2);
    transform: translate(-50%, -50%) rotate(-45deg);
}

svg {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
}

path {
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.path-a {
    stroke: var(--gradient-1);
    stroke-dasharray: 32 300;
    transition: all calc(var(--speed) * 2);
    -webkit-transition: all calc(var(--speed) * 2);
    -moz-transition: all calc(var(--speed) * 2);
    -ms-transition: all calc(var(--speed) * 2);
    -o-transition: all calc(var(--speed) * 2);
}

.on .path-a {
    stroke: var(--gradient-2);
    transition: all calc(var(--speed) * 2);
    -webkit-transition: all calc(var(--speed) * 2);
    -moz-transition: all calc(var(--speed) * 2);
    -ms-transition: all calc(var(--speed) * 2);
    -o-transition: all calc(var(--speed) * 2);
    stroke-dasharray: 16 300;
    stroke-dashoffset: -85;
}

.mobileMenu {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    font-size: 25px ;
}

.mobileMenu p {
    background: linear-gradient(45deg, var(--gradient-top-1) 20%, var(--gradient-top-2) 75%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header nav .mobile {
    display: none;
    z-index: 50;
}

.mobileMenu .rainbowBorder {
    width: 50%;
}

.rounded, .rounded_mobile{
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 2.5rem;
    height: 2.5rem;
}

.name_picture .rounded_mobile{
    display: none;
}

.rounded img, .rounded_mobile img {
    width: 100%;
    height: 100%;
}

.appear {
    opacity: 1;
    height: auto;
    padding: 15px;
    gap: 10px;
}

