@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #000;
    flex-direction: column;
    gap: 40px;
}

header {
    width: 100%;
    color: white;
    font-size: 20px;
    position: fixed;
    z-index: 50;
    background: #000;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    padding: 15px;
    flex-wrap: wrap;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    margin-top: 9vh;
    width: 100%;
}

.title {
    margin-bottom: 10px;
    font-size: 70px;
    display: flex;
}

.title span:nth-child(1) {
    color: #fd004c;
}

.title span:nth-child(2) {
    color: #fe9000;
}

.title span:nth-child(3) {
    color: #fff020;
}

.title span:nth-child(4) {
    color: #3edf4b;
}

.title span:nth-child(5) {
    color: #3363ff;
}

.title span:nth-child(6) {
    color: #b102b7;
}

.title span:nth-child(7) {
    color: #fd004c;
}

.title span:nth-child(8) {
    color: #fe9000;
}

.title span:nth-child(9) {
    color: #fff020;
}

.title span:nth-child(10) {
    color: #3edf4b;
}

.title span:nth-child(11) {
    color: #3363ff;
}

.title span:nth-child(12) {
    color: #b102b7;
}

.title span:nth-child(13) {
    color: #fd004c;
}

.title .space {
    margin-right: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 30px;
}

.box {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    gap: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, #00ccff);
    animation: animate 4s linear infinite;
    -webkit-animation: animate 4s linear infinite;
    overflow: hidden!important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
    overflow: hidden!important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box span {
    position: absolute;
    inset: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: black;
    z-index: 1;
}

.box i, .rainbowCard i, .card i {
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 204, 255, 1) 0%, rgba(212, 0, 212, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 85px;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}

.box:hover i, .rainbowCard:hover i, .gradientCard:hover i {
    transform: scale(1.3) rotate(360deg);
}

.box h4, .rainbowCard h4, .card h4 {
    z-index: 1;
    font-size: 30px;
    background: -webkit-linear-gradient(90deg, rgba(0, 204, 255, 1) 0%, rgba(212, 0, 212, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}

.box:hover h4, .rainbowCard:hover h4, .gradientCard:hover h4 {
    transform: scale(1.3);
    margin-top: 50px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.loader {
    position: relative;
    width: 100%;
    height: 10px;
    background: #fff;
}

.loader::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #F90000, #fb0094, #0000ff, #00ff00, #ffff00, #F90000, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #F90000 );
    animation: gradient 20s linear infinite;
    background-size: 500%;
}

.loader::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #F90000, #fb0094, #0000ff, #00ff00, #ffff00, #F90000, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094 , #F90000);
    animation: gradient 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

.rainbowCard {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rainbowCard::before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background-image: conic-gradient(#fd004c,#fe9000,#fff020,#3edf4b,#3363ff,#b102b7,#fd004c);
    left: -25%;
    top: -25%;
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
}

.rainbowCard::after {
    content: '';
    position: absolute;
    /*background: #1c1b29;
    */background: #000;
    height: 94%;
    width: 94%;
    top: 3%;
    left: 3%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: white;
    letter-spacing: 6px;
    font-size: 20px;*/
}

.rainbowBorder {
    background: linear-gradient(279.24deg, rgb(247, 20, 20) 13.99%, rgb(247, 143, 20) 30.12%, rgb(255, 223, 0) 52.52%, rgb(51, 214, 37) 76.26%, rgb(53, 134, 255) 94.3%);
    height: 1px;
    transform: rotate(180deg);
    width: 100%;
}

.gradientCard {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95.11deg, rgb(255, 138, 0) 9.41%, rgb(234, 54, 183) 31.46%, rgb(82, 0, 255) 66.73%, rgb(47, 205, 255) 95.4%);
    z-index: 1;
}

.card {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    min-height: 50px;
    min-width: 50px;
    /* background: rgb(57, 57, 57); */
    background: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: none;
    outline: none;
    z-index: 1;
}

/* .gradientCard:hover .card {
    background: linear-gradient(90.22deg, rgba(247, 20, 20, 0.2) -1.27%, rgba(235, 56, 179, 0.2) 33.43%, rgba(126, 118, 254, 0.2) 64.39%, rgba(121, 57, 255, 0.2) 101.23%), linear-gradient(0deg, rgb(57, 57, 57), rgb(57, 57, 57));    
} */

.gradientButton {
    background: linear-gradient(95.11deg, rgb(255, 138, 0) 9.41%, rgb(234, 54, 183) 31.46%, rgb(82, 0, 255) 66.73%, rgb(47, 205, 255) 95.4%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 58px;
    min-width: 240px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
}

.btn {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: rgb(57, 57, 57);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
}

.gradientButton:hover .btn {
    background: linear-gradient(90.22deg, rgba(247, 20, 20, 0.2) -1.27%, rgba(235, 56, 179, 0.2) 33.43%, rgba(126, 118, 254, 0.2) 64.39%, rgba(121, 57, 255, 0.2) 101.23%), linear-gradient(0deg, rgb(57, 57, 57), rgb(57, 57, 57));
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    0% {
        background-position: 500% 0;
    }
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 650px) {
    .top {
        max-width: 85%;
    }
    
    .title {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 35px;
    }

    header {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 28px;
    }

    header {
        font-size: 12.5px;
    }

    .cards {
        padding: 5px;
    }
}

@media (max-width: 300px) {
    header {
        font-size: 10px;
    }
}